* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    --header-color: rgb(255, 255, 255);
    --content-color: rgb(240, 242, 245);
    --text-color: rgb(0, 0, 0);
    --dot_hover-color: rgb(113, 113, 113);
    --dot-color: rgb(187, 187, 187);
    --about-color: rgb(230, 230, 230);
    --blur-color: rgba(126, 126, 126, 0.7);
    --icon_background-color: rgb(200, 200, 200);
    --footer-color: rgb(0, 0, 0);
    --text2-color: rgb(255, 255, 255);
    --text2_hover-color: rgb(128, 128, 128);

}

.container {
    display: grid;
    grid-template-rows: 5% 95%;
    width: 100%;
    height: 100vh;
    grid-template-areas: "header"
                         "content";
}

.header {
    display: grid;
    grid-area: header;
    background-color: var(--header-color);
}

.content {
    display: grid;
    grid-area: content;
    background-color: var(--content-color);
    overflow: auto;
    overflow-x: hidden;
}